node_modules
.npm
.pnpm-store
pnpm-lock.yaml
dist
.git
.github
.env*
docker-compose.yml
.dockerignore
.gitignore
README.md
.coverage
*.log
logs
jest.config.js
tsconfig.json
.eslintrc.js
.prettierrc
.nyc_output
coverage
.cache
.idea
.vscode
*.tsbuildinfo
